body {
	background-color: ;
}

#wrapper {
	width: 650px;
	height: 625px;
	margin-left: auto;
	margin-right: auto;
	
	border: 1px solid #ebebeb;
	padding: 0px 0px 45px 0px;

	color: #464646;
	background-color: #FFF;
}

/* Navigation Bar */

header {
	width: 650px;
	height: 30px;
	background-color: #ebebeb;
	margin-left: auto;
	margin-right: auto;
}

#navigation {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 5px 10px 0 60px;
    overflow: hidden;
}

.nav {
    width: 20%;
    height: 30%;
    display: block;
    float: left;
    text-align: center;

}

.nav>a:link, .nav>a:visited {
    color: #464646;
    background-color: #ebebeb;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    font-family: 'Optima';
    font-size: 14px;
}

.nav>a:hover, .nav>a:active {
    color: #FFF;
}
/* End Navigation Bar */

#me {
	display: block;
	margin: 25px 0 0 0;
}

/* Name and Subheading */

#tophalf {
	width:75%;
	margin-left: auto;
	margin-right: auto;

	text-align: center;
}

h1 {
	font-family: 'CenturyGothic';
	font-size: 55px;
	color: #081c58;

	margin: 0px 45px 5px 45px;
}

.subheading {
	font-family: 'Optima';
	font-size: 14px;
	margin: 0px 18px 18px 18px;
	color: #464646;
}
/* End Name and Subheading */

#bottomhalf {
	width: 75%;
	clear:left;

	margin-left: auto;
	margin-right: auto;
}

#left, #right {
	width: 225px;
	float: left;

	font-family: 'Optima';
	font-size: 14px;
	line-height: 18px;
	color: #464646;
	text-align: left;
}

#right {
	padding-left: 35px;
}

li {
	margin-top: 10px;
}

li > a {
	text-decoration: none;
}

li >a:hover {
	color: #081c58;
	font-weight: bold; 
}



/* Footer */
footer {
	display: block;
	clear: left;
	width: 650px;
	height: 25px;
	background-color: #ebebeb;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
}

.footer {
	color: #464646;
    background-color: #ebebeb;
    text-align: center;
    font-family: 'Optima';
    font-size: 12px;
    padding: 5px 0 0 0;
}
